@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/saga-blue/theme.css' layer(primereact);

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

/* styles.css */
.custom-header .p-datatable-thead>tr>th {
    background-color: #3B4FE1;
    color: #fff;
    font-size: 0.9rem;
}

/* Stripe rows */
.p-datatable .p-datatable-tbody>tr:nth-child(odd) {
    background-color: #ffffff;
    /* Background color for odd rows */
}

.p-datatable .p-datatable-tbody>tr:nth-child(even) {
    background-color: #ebe7e7;
    /* Background color for even rows */
}

.p-datatable .p-datatable-tbody>tr:hover {
    background-color: #d3d3d3;
    transition: all 0.2s ease-in-out;
}

.report-table .p-datatable-tbody>tr {
    font-size: 0.9rem;
}

.report-table .p-datatable-tbody>tr>th {
    font-size: 0.8rem;
}

/* PrimeReact DataTable Paginator Active Page */
.p-paginator .p-paginator-page.p-highlight {
    background-color: #3B4FE1 !important;
    border-color: #3B4FE1 !important;
    color: #ffffff !important;
    margin-left: 0.5rem;
    font-size: large !important;
}

.p-paginator .p-paginator-pages .p-paginator-page {
    margin-left: 0.5rem;
}

.p-paginator .p-paginator-pages .p-paginator-page:hover {
    background-color: #e8e8e9;
}

/* Styling the search input field within the PrimeReact Dropdown component */
.p-dropdown .p-dropdown-filter-container input {
    border: 2px solid #4a90e2;
    /* Border color */
    background-color: #1f6fbe;
    /* Background color */
    padding: 0.5rem;
    /* Padding for better appearance */
    border-radius: 0.25rem;
    /* Rounded corners */
    outline: none;
    /* Remove default outline */
    transition: border-color 0.3s ease-in-out;
}

.p-dropdown .p-dropdown-filter-container input:focus {
    border-color: #2563eb;
    /* Border color on focus */
}