@tailwind base;
@tailwind components;
@tailwind utilities;


@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

/* styles.css */
.custom-header .p-datatable-thead>tr>th {
    background-color: #3B4FE1;
    color: #fff;
}

/* Stripe rows */
.p-datatable .p-datatable-tbody>tr:nth-child(odd) {
    background-color: #ffffff;
    /* Background color for odd rows */
}

.p-datatable .p-datatable-tbody>tr:nth-child(even) {
    background-color: #ebe7e7;
    /* Background color for even rows */
}